n8n_setup/blogs individuales de software (2).json
{
  "name": "blogs individuales de software",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://busca.software/wp-json/wp/v2/software",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n(function() {\n  const rawText = ($json.content?.parts?.[0]?.text || '').replace(/```html|```/g, '');\n  if (!rawText) return { error: 'La IA no devolvió contenido' };\n\n  // ── Meta descripción\n  const metaMatch = rawText.match(/<!--METADESC:([\\s\\S]*?)-->/);\n  const excerpt = metaMatch ? metaMatch[1].trim() : '';\n\n  // ── Extraer el H1 que escribió la IA\n  const h1Match = rawText.match(/<h1[^>]*>([\\s\\S]*?)<\\/h1>/i);\n  const titleFromAI = h1Match \n    ? h1Match[1].replace(/<[^>]+>/g, '').trim()  // quita cualquier tag HTML interno\n    : '';\n\n  // ── Fallback si la IA no generó H1\n  const software = $('Supabase Leer Software').item.json;\n  const year = new Date().getFullYear();\n  const title = titleFromAI || `${software.name}: análisis y opiniones reales (${year})`;\n\n  // ── Limpiar HTML (Asegurar que <script> sobrevive para los schemas)\n  const content = rawText\n    .replace(/<!--METADESC:[\\s\\S]*?-->/g, '')\n    .replace(/[\\s\\S]*?(?=<div|<section|<style|<script)/i, '')\n    .replace(/<\\/html>/gi, '')\n    .trim();\n\n  return {\n    title:         title,\n    slug:          software.slug || '',\n    content:       content,\n    excerpt:       excerpt,\n    status:        'publish',\n    software_id:   software.id,\n    software_name: software.name,\n    website_url:   software.website_url\n  };\n})()\n}}",
        "options": {}
      },
      "id": "6caceef2-0253-4e13-a3a6-da2ff2ee0a49",
      "name": "HTTP Request (Crear Post WP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -400,
        384
      ],
      "alwaysOutputData": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "Z3aYs6DPJWwZCKHB",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "software",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase Leer Software').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "published_vs_reseña"
            }
          ]
        }
      },
      "id": "1757bd17-428a-45de-855c-5e8442afe85e",
      "name": "Supabase Marcar A como Procesado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -192,
        384
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Oxay54V2JLdYA1Vy",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=# 🧠 SYSTEM PROMPT — Blog Individual de Software\n# Versión: Diseños Modulares Dinámicos (Protegiendo el CSS de WordPress)\n\nEres un experto en SEO B2B, desarrollador Frontend y analista de software.\nTu misión es generar contenido valioso y ultra humano, pero el DISEÑO de ese contenido debe rotar estructuralmente en CADA artículo generado para burlar el \"Template Effect\" manual de Google AdSense.\n\n==========================================================\n📐 REGLA PRINCIPAL: VARIACIÓN ESTRUCTURAL INTERNA\n==========================================================\nNO puedes mantener siempre el mismo ritmo de párrafos ni el mismo orden visual dentro de las pestañas `<div class=\"bsw-panel\">`. Tienes un \"Banco de Componentes CSS\" (.bsw-*) que puedes inyectar libremente dento de tu contenido para hacerlo distinto.\n\n**Ejemplo de cómo variar el relleno (Elige uno al azar):**\n* ESTILO A: Abres con un enorme \"Veredicto directo\" <div class=\"bsw-highlight\"> resumiendo TODO. Luego pones un listado de características y después integras un Pro Tip Ninja (<div class=\"bsw-highlight\" style=\"...\">).\n* ESTILO B: Abres contando una historia (el caos sin el software). Luego describes los \"Súper Poderes\" (features). Intercalas testimonios rotos en el texto en lugar de dejarlos para el final.\n* ESTILO C: Enfoque solo en casos de uso. \"Para agencias\", \"Para startups\", etc. Usando muchos <div class=\"bsw-highlight\"> cortos para darle dinamismo.\n\n==========================================================\n🧩 TUS COMPONENTES DISPONIBLES (Módulos CSS Seguros):\n==========================================================\n\n1. TABS (Las Pestañas Maestras, OBLIGATORIAS MANTENER, NO LAS ROMPAS):\n<nav class=\"bsw-tabs\" role=\"tablist\">\n  <button class=\"bsw-tab is-active\" type=\"button\" data-bsw-tab=\"analisis\">Análisis a fondo</button>\n  <button class=\"bsw-tab\" type=\"button\" data-bsw-tab=\"precios\">Precios y Planes</button>\n  <button class=\"bsw-tab\" type=\"button\" data-bsw-tab=\"opiniones\">Opiniones</button>\n  <button class=\"bsw-tab\" type=\"button\" data-bsw-tab=\"faq\">Consultas Avanzadas</button>\n</nav>\n\n2. SECCIONES DE TABS (Mantén las 4 secciones .bsw-panel):\n<section class=\"bsw-panel is-active\" data-bsw-panel=\"analisis\">...aquí dentro varía el Markdown/HTML...</section>\n\n3. PIEZAS PARA INYECTAR DENTRO DE LOS PANELES (Juega con estas):\n- PRECIOS: <div class=\"bsw-pricing\"><article class=\"bsw-price-card\">...</article></div>\n- TESTIMONIOS: <div class=\"bsw-reviews\"><article class=\"bsw-review-card is-positive\">...</article></div>\n- FAQs: <div class=\"bsw-faq\"><details class=\"bsw-faq-item\">...</details></div>\n- HIGHLIGHTS NEUTROS: <div class=\"bsw-highlight\">\n- PRO TIPS NINJA: <div class=\"bsw-highlight\" style=\"border-left: 4px solid #ff9900; background: #fff8f0;\">\n- LO MALO CRÍTICA: <div class=\"bsw-highlight\" style=\"border-left: 4px solid #e74c3c; background: #fdf5f5;\">\n\n==========================================================\n✅ CHECKLIST OBLIGATORIA (Si fallas una, el Content Filter te detiene):\n==========================================================\n1. Respeta fielmente la estructura base (Hero -> Tabs -> Panels -> Sidebar) que el Template HTML base del usuario te proporciona.\n2. Inyecta al menos 2 <div class=\"bsw-highlight\" style=\"...\"> con PRO TIPS espontáneos dentro de tu redacción.\n3. El HTML resultante de tu lado CUMPLIRÁ con devolver: \n   <!--METADESC:texto-->\n   Schemas de Google LD-JSON\n   <div class=\"bsw-container\"> TUS 4 PANELES (analisis, precios, opiniones, faq) Y SIDEBAR </div>\n4. EXACTAMENTE 8 FAQs completas en el tab \"faq\" (usando las clases de desplegables correctas).\n5. EXACTAMENTE 5 testimonios humanos e hiper-específicos en el tab \"opiniones\".\n6. Mínimo 1500 palabras de contenido en total."
            },
            {
              "content": "=<!--METADESC:GENERA_META_DESCRIPCION_140_155_CHARS_INCLUYE_NOMBRE_SOFTWARE_RESPONDE_PARA_QUIEN_ES_Y_QUE_RESUELVE_SIN_COMILLAS_NI_CARACTERES_ESPECIALES-->\n\n<script type=\"application/ld+json\">\n{\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"SoftwareApplication\",\n  \"name\": \"{{ $json.name }}\",\n  \"url\": \"{{ $json.website_url }}\",\n  \"applicationCategory\": \"{{ $json.name }}\",\n  \"operatingSystem\": \"Web, iOS, Android\",\n  \"description\": \"REUSA_LA_MISMA_META_DESCRIPCION_GENERADA_ARRIBA\",\n  \"offers\": {\n    \"@type\": \"Offer\",\n    \"price\": \"{{ $json.starting_price_usd }}\",\n    \"priceCurrency\": \"USD\",\n    \"priceValidUntil\": \"{{ $now.year }}-12-31\"\n  },\n  \"aggregateRating\": {\n    \"@type\": \"AggregateRating\",\n    \"ratingValue\": \"GENERA_RATING_DECIMAL_ENTRE_4.0_Y_4.9_BASADO_EN_CALIDAD_REAL\",\n    \"bestRating\": \"5\",\n    \"worstRating\": \"1\",\n    \"reviewCount\": \"GENERA_NUMERO_ENTRE_80_Y_250\"\n  },\n  \"dateModified\": \"{{ $now.toISODate() }}\",\n  \"author\": {\n    \"@type\": \"Organization\",\n    \"name\": \"busca.software\"\n  }\n}\n</script>\n\n<div class=\"bsw-container\">\n\n  <!-- HERO -->\n  <section class=\"bsw-hero\">\n    <div class=\"bsw-hero_left\">\n      <h1 class=\"bsw-title\">GENERA_H1_GANCHO_CON_KEYWORD_Y_AÑO_{{ $now.year }}_SUPER_HUMANO_Y_DIRECTO</h1>\n      <p class=\"bsw-description\">GENERA_INTRO_DIRECTA_Y_ENGANCHADORA_3_FRASES_TONO_AMIGO_EXPERTO_CON_ANALOGIA</p>\n      <div class=\"bsw-badges\">\n        <span class=\"bsw-badge bsw-badge--info\">{{ $json.has_free_tier ? '✅ Plan gratuito disponible' : '🔒 Solo planes de pago' }}</span>\n        <span class=\"bsw-badge bsw-badge--info\">Desde ${{ $json.starting_price_usd }}/mes</span>\n        <span class=\"bsw-badge bsw-badge--success\">ACTUALIZADO {{ $now.setLocale('es').monthLong.toUpperCase() }} {{ $now.year }}</span>\n      </div>\n      <div class=\"bsw-meta\">\n        <span class=\"bsw-rating\" data-rating=\"GENERA_RATING_MISMO_QUE_JSON_LD\" data-rating-count=\"GENERA_NUMERO_REVIEWS_MISMO_QUE_JSON_LD\">Revisión técnica: {{ $now.setLocale('es').toFormat('dd MMMM, yyyy') }}</span>\n      </div>\n    </div>\n    <div class=\"bsw-hero_right\">\n      <a class=\"bsw-btn bsw-btn--primary\" href=\"{{ $json.website_url }}\" target=\"_blank\" rel=\"nofollow noopener\">Probar {{ $json.name }} gratis</a>\n    </div>\n  </section>\n\n  <!-- Tabs (MANTENER INTACTAS) -->\n  <nav class=\"bsw-tabs\" role=\"tablist\" aria-label=\"Secciones del análisis\">\n    <button class=\"bsw-tab is-active\" type=\"button\" data-bsw-tab=\"analisis\">Análisis a fondo</button>\n    <button class=\"bsw-tab\" type=\"button\" data-bsw-tab=\"precios\">Precios reales</button>\n    <button class=\"bsw-tab\" type=\"button\" data-bsw-tab=\"opiniones\">Opiniones</button>\n    <button class=\"bsw-tab\" type=\"button\" data-bsw-tab=\"faq\">Consultas Avanzadas</button>\n  </nav>\n\n  <!-- TAB: ANÁLISIS (AQUÍ ES DONDE DEBES SER VARIADO Y CREATIVO EN CADA POST, INYECTA PRO TIPS) -->\n  <section class=\"bsw-panel is-active\" data-bsw-panel=\"analisis\">\n    <h2 class=\"bsw-h2\">LA_REALIDAD_DE__{{ $json.name }}</h2>\n    <hr class=\"bsw-divider\">\n    <div class=\"bsw-highlight\">\n      CONTENIDO_DE_ANALISIS_LIBRE_CON_AL_MENOS_UN_PRO_TIP_Y_UNA_CRITICA_CON_LAS_CLASES_HIGHLIGHT_CSS\n    </div>\n  </section>\n\n  <!-- TAB: PRECIOS -->\n  <section class=\"bsw-panel\" data-bsw-panel=\"precios\" id=\"bsw-precios\">\n    <h2 class=\"bsw-h2\">💸 Los precios de {{ $json.name }} por dentro</h2>\n    <p>INTRODUCCIÓN_SOBRE_EL_VALOR_REAL</p>\n    <div class=\"bsw-pricing\">\n      <!-- (Genera aquí tu grid class=\"bsw-price-card\" normalmente) -->\n      CONTENIDO_PRECIOS_GRID_DINAMICO\n    </div>\n  </section>\n\n  <!-- TAB: OPINIONES -->\n  <section class=\"bsw-panel\" data-bsw-panel=\"opiniones\">\n    <h2 class=\"bsw-h2\">Hablan los usuarios reales (Casos de uso)</h2>\n    <div class=\"bsw-reviews\">\n      <!-- (Genera EXACTAMENTE 5 reviews class=\"bsw-review-card\") -->\n      CONTENIDO_5_REVIEWS_ESPECIFICAS_HIPER_REALES\n    </div>\n  </section>\n\n  <!-- TAB: FAQ + Schema -->\n  <section class=\"bsw-panel\" data-bsw-panel=\"faq\">\n    <h2 class=\"bsw-h2\">Las dudas que importan a nivel técnico y estratégico</h2>\n    <div class=\"bsw-faq\">\n      <!-- Genera EXACTAMENTE 8 FAQs con class=\"bsw-faq-item\" -->\n      CONTENIDO_8_FAQS_HIPER_TECNICAS_Y_AVANZADAS_DE_USO_O_INTEGRACION\n    </div>\n\n    <!-- AQUÍ EL SCHEMA FAQPage CONTENDIENDO TUS MISMAS 8 PREGUNTAS -->\n    <script type=\"application/ld+json\">\n      CONTENIDO_SCHEMA_JSON_LD_FAQ_PAGE_CON_LAS_8_RESPUESTAS\n    </script>\n  </section>\n\n  <!-- SIDEBAR (MANTENER ESTA ESTRUCTURA) -->\n  <aside class=\"bsw-aside\">\n    <div class=\"bsw-sticky\">\n      <h3 class=\"bsw-h3\">Lo esencial en 5 segundos</h3>\n      <div class=\"bsw-kpis\">\n        <div class=\"bsw-kpi\"><span class=\"bsw-kpi__label\">Facilidad</span><span class=\"bsw-kpi__value\">GENERA_VALOR_RÁPIDO_9_10</span></div>\n        <div class=\"bsw-kpi\"><span class=\"bsw-kpi__label\">Potencia</span><span class=\"bsw-kpi__value\">GENERA_VALOR_RÁPIDO_EXT</span></div>\n        <div class=\"bsw-kpi\"><span class=\"bsw-kpi__label\">Precio desde</span><span class=\"bsw-kpi__value\">${{ $json.starting_price_usd }}/mes</span></div>\n      </div>\n      <a class=\"bsw-btn bsw-btn--primary bsw-btn--block\" href=\"{{ $json.website_url }}\" target=\"_blank\" rel=\"nofollow noopener\">Ver sitio de {{ $json.name }}</a>\n      <hr class=\"bsw-divider\" style=\"margin: 14px 0;\">\n      <p style=\"font-size:0.8rem; font-weight:600; margin-bottom:6px;\">🔗 Herramientas relacionadas</p>\n      <ul style=\"font-size:0.8rem; padding-left:16px;\">\n        <li>ENLACE_INTERNO_1_RELACIONADO_A_BUSCA_SOFTWARE</li>\n        <li>ENLACE_INTERNO_2_RELACIONADO_A_BUSCA_SOFTWARE</li>\n      </ul>\n    </div>\n  </aside>\n</div>"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -720,
        384
      ],
      "id": "a5babd27-616c-450d-b9c7-78017a35808c",
      "name": "Gemini IA (Generar VS)",
      "credentials": {
        "googlePalmApi": {
          "id": "lxQcrET3lQZDGgJ8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const MIN_WORDS = 1000;\nconst inputItems = $input.all();\n\nfunction countWords(text) {\n  return text.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim().split(' ').filter(Boolean).length;\n}\nfunction countMatches(text, regex) {\n  const matches = text.match(regex);\n  return matches ? matches.length : 0;\n}\n\nreturn inputItems.map((item) => {\n  const modelText = item.json.content?.parts?.[0]?.text ?? '';\n  const cleaned = modelText.replace(/```html|```/g, '').trim();\n  const reasons = [];\n\n  if (!cleaned) reasons.push('empty_content');\n  if (/COPIA_EXACTA_/i.test(cleaned)) reasons.push('placeholder_detected_copia_exacta');\n  if (/CONTENIDO_DE_ANALISIS_LIBRE_/i.test(cleaned)) reasons.push('placeholder_base_no_reemplazado');\n  if (countWords(cleaned) < MIN_WORDS) reasons.push('low_word_count:' + countWords(cleaned));\n  if (countMatches(cleaned, /<h1\\b/gi) !== 1) reasons.push('invalid_h1_count');\n  if (!/\"@type\"\\s*:\\s*\"FAQPage\"/i.test(cleaned)) reasons.push('missing_faq_schema');\n  \n  const faqCount = countMatches(cleaned, /<details class=\"bsw-faq-item\"/gi);\n  if (faqCount < 8) {\n    reasons.push('few_faqs_' + faqCount);\n  }\n\n  const score = Math.max(0, 100 - reasons.length * 20);\n  const isPublishable = reasons.length === 0;\n\n  if (!isPublishable) {\n    throw new Error(`Quality gate blocked publish. score=${score}; reasons=${reasons.join(',')}`);\n  }\n\n  return { json: { ...item.json, qa_result: { is_publishable: isPublishable, score, reasons } } };\n});"
      },
      "id": "1136e031-d8ed-4d33-b4b5-9e86be3e5718",
      "name": "Code Quality Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        384
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1184,
        384
      ],
      "id": "4dd7952c-3ded-4635-b8d0-62b005ef0257",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "6790414729",
        "text": "=🚀 ¡Nueva Comparativa Publicada! \n📰 Título: {{ $('HTTP Request (Crear Post WP)').item.json.title.rendered }}\n🔗 Link: {{ $('HTTP Request (Crear Post WP)').item.json.link }}\n✅ ¡Indexación solicitada con éxito!\nGoogle ha recibido la URL: {{ $node[\"HTTP Request (Crear Post WP)\"].json[\"link\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        384
      ],
      "id": "22cc1c1d-e148-400d-bea6-235b4ca5a01e",
      "name": "Telegram Notificacion",
      "webhookId": "0bbb1f85-0949-4bbf-bceb-cfd1eff57a79",
      "credentials": {
        "telegramApi": {
          "id": "yjmVhNDcGFmYsy05",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://searchconsole.googleapis.com/v1/urlInspection/index:inspect",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inspectionUrl\": \"{{ $('HTTP Request (Crear Post WP)').item.json.link }}\",\n  \"siteUrl\": \"https://busca.software/\"\n}",
        "options": {}
      },
      "id": "fe9bbeb3-7cf4-47f5-afe3-3d9b2e7ecd9a",
      "name": "Google URL Inspection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        256,
        384
      ],
      "credentials": {
        "googleApi": {
          "id": "mNh6EksfDyefEi8C",
          "name": "Google Service Account account"
        },
        "googleOAuth2Api": {
          "id": "c3UTktIDS8rxyfQr",
          "name": "Google Indexing API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://indexing.googleapis.com/v3/urlNotifications:publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $('HTTP Request (Crear Post WP)').item.json.link }}\",\n  \"type\": \"URL_UPDATED\"\n}",
        "options": {}
      },
      "id": "bf36884a-be2d-4859-9847-4839540522ad",
      "name": "Google Indexing API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        16,
        384
      ],
      "credentials": {
        "googleApi": {
          "id": "mNh6EksfDyefEi8C",
          "name": "Google Service Account account"
        },
        "googleOAuth2Api": {
          "id": "GcFSg1N8bu6cIKcc",
          "name": "Google account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "software",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "category_id",
              "condition": "eq",
              "keyValue": "de3a9461-d931-4cd6-b5ac-24127d5a617c"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "published_vs_reseña"
            }
          ]
        }
      },
      "id": "5bce4459-8c76-4a00-9dc3-8b5ee721d7a6",
      "name": "Supabase Leer Software",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -960,
        384
      ],
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "Oxay54V2JLdYA1Vy",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request (Crear Post WP)": {
      "main": [
        [
          {
            "node": "Supabase Marcar A como Procesado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Marcar A como Procesado": {
      "main": [
        [
          {
            "node": "Google Indexing API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini IA (Generar VS)": {
      "main": [
        [
          {
            "node": "Code Quality Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Quality Gate": {
      "main": [
        [
          {
            "node": "HTTP Request (Crear Post WP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase Leer Software",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google URL Inspection": {
      "main": [
        [
          {
            "node": "Telegram Notificacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Indexing API1": {
      "main": [
        [
          {
            "node": "Google URL Inspection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Leer Software": {
      "main": [
        [
          {
            "node": "Gemini IA (Generar VS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8292565e-4414-4067-9656-9695c9cd85cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ddc1688a6bdc23e3bc458e7c231ffaf547c9aeb3e24036a7f4bc747fe72eedb"
  },
  "id": "3yzls7nZvzl89nsp",
  "tags": []
}